.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/MProject.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
MeatProject/MeatProject/private_settings.py
MeatProject/MeatApp/_pycache_/*
.venv
MeatProject/MeatApp/__pycache__/__init__.cpython-312.pyc
MeatProject/MeatApp/__pycache__/admin.cpython-312.pyc
MeatProject/MeatApp/__pycache__/apps.cpython-312.pyc
MeatProject/MeatApp/__pycache__/models.cpython-312.pyc
MeatProject/MeatApp/migrations/0004_alter_empinfo_job_alter_empinfo_position.py
MeatProject/MeatApp/migrations/__pycache__/__init__.cpython-312.pyc
MeatProject/MeatApp/migrations/__pycache__/0001_initial.cpython-312.pyc
MeatProject/MeatApp/migrations/__pycache__/0002_alter_order_orderweight.cpython-312.pyc
MeatProject/MeatApp/migrations/__pycache__/0003_alter_order_oderprice_and_more.cpython-312.pyc
MeatProject/MeatApp/migrations/__pycache__/0004_alter_empinfo_job_alter_empinfo_position.cpython-312.pyc
MeatProject/MeatProject/__pycache__/__init__.cpython-312.pyc
MeatProject/MeatProject/__pycache__/settings.cpython-312.pyc
MeatProject/MeatProject/__pycache__/urls.cpython-312.pyc
MeatProject/MeatProject/__pycache__/wsgi.cpython-312.pyc