.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/MProject.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
MeatProject/MeatProject/private_settings.py
MeatProject/MeatApp/__pycache__
.venv
MeatProject/MeatApp/migrations/__pycache__
MeatProject/__pycache__